.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left {
    display: flex;
    justify-content: left;
    align-items: center;
}

.right {
    display: flex;
    justify-content: right;
    align-items: center;
}

.text-center {
    text-align: center;
}

.project-card {
    border-radius: 15px;
    background: linear-gradient(to right ,rgb(20, 40, 226), rgb(146, 44, 167));
    color: white;
    
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;

    display: grid;
    grid-row: 1;
    grid-template-columns: 50% 50%;
}

.card-text {
    padding: 10%;
}