@media (max-width: 500px) {
    body {
        gap: 1em;
    }

    .navigation {
        height: 250px;
        flex-direction: column;
    }
    .navigation > a {
        width: 50%;
        height: 15%;
    }


    .container-presentation {
        margin-top: 0% !important;
        display: flex !important;
        flex-direction: column-reverse;
        gap: 1em;
    
    }

    
}

@media (max-width: 750px) {
    .center {
        flex-direction: row;
    }

    .project-card {
        display: flex !important;
        flex-direction: column-reverse !important;
        gap: 1em;
    }
}